body {
  width: 800px;
  text-align: center;
  margin: auto;
  font-family: 'Droid Sans', sans-serif;
}
a {
  color: blue;
}
.mainheading, .subheading {
  border: 2px solid blue;
  margin: 5px;
  padding: 20px;
  background-color: #e2e2e2;
}
.mainheading h1 {
  padding: 0;
  margin: 0;
}
.subheading {
  font-size: 24px;
  border: 2px solid green;
}
.subheading.span {
  font-size: 32px;
}